In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-10-21 16:36:55,-54.8000,-68.3000,53.22,61,75,36.82
1,1,Morro Bay,US,2021-10-21 16:41:23,35.3658,-120.8499,69.15,90,100,3.00
2,2,Derbent,RU,2021-10-21 16:41:23,42.0678,48.2899,51.76,77,4,8.77
3,3,Margate,GB,2021-10-21 16:38:05,51.3813,1.3862,50.97,61,31,1.99
4,4,La Ronge,CA,2021-10-21 16:41:24,55.1001,-105.2842,37.65,70,20,8.05
...,...,...,...,...,...,...,...,...,...,...
569,569,Andenes,NO,2021-10-21 16:45:42,69.3143,16.1194,36.07,64,75,29.93
570,570,Trapani,IT,2021-10-21 16:45:42,37.8333,12.6667,73.49,73,20,14.97
571,571,Ponce,PR,2021-10-21 16:42:30,18.0730,-66.6185,88.88,68,13,9.40
572,572,Laguna,US,2021-10-21 16:45:43,38.4210,-121.4238,67.64,93,90,0.00
573,573,Lovington,US,2021-10-21 16:45:44,32.9440,-103.3485,69.03,65,78,8.97

In [4]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable
fig = gmaps.figure()

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Or simply use list comprehension instead of for loop for "temps"
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of temperature (adjusting previous heatmap)
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# add geographic center of Earth and zoom level
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable using list comprehension instead of for loop for "temps"
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Modify heat_layer attribute to show larger temperature gradient differences
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# add geographic center of Earth and zoom level
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable (the only code with edits)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Butaritari,KI,2021-10-21 16:41:27,3.0707,172.7902,81.81,79,63,14.70
13,13,Miri,MY,2021-10-21 16:41:28,4.4148,114.0089,75.34,100,40,3.44
14,14,Bom Jardim,BR,2021-10-21 16:41:29,-7.7958,-35.5872,89.94,51,100,10.47
15,15,Salalah,OM,2021-10-21 16:41:29,17.0151,54.0924,80.69,69,40,5.75
16,16,Gizo,SB,2021-10-21 16:41:30,-8.1030,156.8419,81.16,74,97,2.35
17,17,Oriximina,BR,2021-10-21 16:41:30,-1.7656,-55.8661,88.20,55,86,6.71
26,26,Mastic Beach,US,2021-10-21 16:37:46,40.7668,-72.8521,75.45,66,1,1.01
28,28,Ponta Do Sol,PT,2021-10-21 16:41:35,32.6667,-17.1000,75.13,45,18,4.70
31,31,Puerto Ayora,EC,2021-10-21 16:41:37,-0.7393,-90.3518,76.96,79,70,11.68
33,33,Plainview,US,2021-10-21 16:41:37,40.7765,-73.4673,76.33,52,1,1.01

In [14]:
preferred_cities_df.count()

City_ID       177
City          177
Country       176
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [15]:
# Drop cities with null values
updated_preferred_cities_df = preferred_cities_df.dropna()
updated_preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = updated_preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
10    Butaritari      KI     81.81   3.0707  172.7902
13          Miri      MY     75.34   4.4148  114.0089
14    Bom Jardim      BR     89.94  -7.7958  -35.5872
15       Salalah      OM     80.69  17.0151   54.0924
16          Gizo      SB     81.16  -8.1030  156.8419
17     Oriximina      BR     88.20  -1.7656  -55.8661
26  Mastic Beach      US     75.45  40.7668  -72.8521
28  Ponta Do Sol      PT     75.13  32.6667  -17.1000
31  Puerto Ayora      EC     76.96  -0.7393  -90.3518
33     Plainview      US     76.33  40.7765  -73.4673

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(hotels["results"][0]["name"])
    except (IndexError):
        print("Hotel not found... skipping.")

Isles Sunset Lodge
Mega Hotel, Miri
Pousada do Posto Jose Breno
HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel
Imagination Island
Pousada Tia Amélia
Brushwood House by Smith Point Beach
Hotel do Campo
Finch Bay Galapagos Hotel
Four Points by Sheraton Melville Long Island
Heritage Park Hotel
Hwange Colliery Guest House
Motel 6 Sinton, TX
Restaurant Greedy Coco Lodge Majunga
Hotel Xaguate
Axim Beach Resort And Spa
Scoop Guest House
Agapita M. Nicart
Haji laloo memon house
Osprey Beach Hotel
Black and Crystal Sand Campsite
Penginapan Kim
محمد هادي ال فطيح
Gran Hotel Mar del Plata
Hôtel Le Dronmi
Hotel Tesoro Los Cabos
Villa Enata
Hotel Branco I
Cititel Penang
AC Lodging House
Qeshm Kavan Hotel
Grage Hotel Bengkulu
Embassy Suites by Hilton Huntsville Hotel & Spa
بوتیک زنانه بهار
Hotel not found... skipping.
Pension Oaoa
Hotel JM Puerto del Rosario
Casa de Beatriz y Chucho
Misioneros Vázquez Mireles
Hotel Plaza Providencia
La Nena
OYO 3027 Griya Temenggungan Syariah
Kost Pria
Balandra Hotel
quinta antigua
مزرعة راحة النفوس المنزفة
Benjie's Kubo & Cottages
Hampton Inn & Suites Washington-Dulles International Airport
Le Gîte d’Iracoubo
Aldea del Bazar Hotel and Spa
Holiday Inn Selma-Swancourt, an IHG Hotel
Crystal Beach and Camping Resort Ormara
Hotel not found... skipping.
Hotel not found... skipping.
Omadhoo Inn
Maringe Lagoon Lodge
Best Western Premier Bryan College Station
Dewey Hotel & Restaurant
PT PPI Lamongan Tambak C
Macs
Blue Rock Resort
Special seat Guest House
El rranchito michuacan de ocampos
KORBEY D'OR OUEST
La Case Bambou
waigo splash hotel
Pine Tree Motel
Rumboat Retreat
Chita Lodge Samfya
Nusa Island Retreat
Hotel not found... skipping.
Lamu House
dyd -mar Hotel
Hotel Darulaman
Fuente del Guania Hotel de Lujo
Limoncocha Great Hotel
Sadaf Resort
Nuli Sapi
The Ritz-Carlton, Philadelphia
Lidera
Hotel Syariah CN Darussalam
posadas
Yos ega cv
Motel Pokaran - RTDC
Hotel Octave Maldives
Welcomhotel By ITC Hotels, Bay Island, Port Blair
Dynasty Suites Redlands
Homewood Suites by Hilton Fresno Airport/Clovis, CA
Bora-Bora Pearl Beach Resort & Spa
Toledo
Playa Linda Hotel
Lamana Hotel (Port Moresby)
Gidaan Guest House
Hotel Kununurra
Hotel y restaurante "El Diamante"
Grand Star Guest House
OYO 3177 Wisma Lintang
Uruna Bay Retreat
Pousada 100 Passos
Hilton Virginia Beach Oceanfront
Balneario Rio el Paraiso
Posada Villaven C.A.
Hôtel les Oliviers Marovoay
Lorengau Harbourside Hotel
فندق أوباري
Bam campground
Dhidhoo beach
Hôtel La Giralda
Maqna Hotel by Prasanthi
Posada Turistica Manapiare
The Hamsa Resort
back to back rv park
MARUTI lemon soda shops
Dallas Hotel Tucuman
Bothabelo Bed and Breakfast
Ramee Garden Hotel Apartments
MOON SHINE Guest House
Amaloh Boutique Resort
Pousada e Hotel Litoral Sul
Pousada Monte Carmelo O Pão
Hotel "Don Roger"
Khách Sạn Mường Thanh Luxury Cà Mau
Hotel not found... skipping.
محل الشريف محمد العايب
BON Hotel Delta
Hotel not found... skipping.
Hotel not found... skipping.
HS Hotsson Smart Acapulco
Hotel Narayan Avezika Comfort
Seagulls Inn Namatani
OYO 1577 Hotel Shree Hari Grand
Orchid Main Camp Goubet
Sulthan Hotel International
Hotel not found... skipping.
Le Rocher de Tahiti
SEGAYA PROPERTY
Dhukurrdji Lodge
Bonifacio Lodge
Guest Hotel
Orient Star Dahabyia Isna 05 Nights Each Sunday
Dhanamjay
Hotel Frontera
Asad U Bajeer Hotel
Hotel NH Buenos Aires City
Sunset Inn
Auki Motel
Non Stop
Hotel Atoll Emerald Miyakojima
Casona Del Muelle
Niyama Private Islands Maldives
Osy Grand Hotel
Les Jardins de la Mer Ghar el Melh
Hotel Albergue de Olinda
OYO 598 Peony Hotel
Pondok Wisata Elim
Lamar Resort Abu Soma
Hotel Morotin
Hotel J. Macedo
la terrasse
Pousada Rua Camurupim
Monte Leah Beach Resort
The Jefferson Hotel
صاحبة الفخامة
The Freeport Inn and Marina
Hotel Blue Diamond.
Bungalow 63
Motels rouzo
Monty Brooms Guest House
Hotel not found... skipping.
Ballistic Islet
Raybow International Hotel
Historic Hotel Florita
Auberge Centrale
Mystic Sands Beachfront Accommodation
Fengshui Residence
Villa Del Paraíso

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))