## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from vacation_config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Le Port,RE,75.20,broken clouds,-20.9373,55.2919,KORBEY D'OR OUEST
1,3,Rikitea,PF,74.71,broken clouds,-23.1203,-134.9692,People ThankYou
2,4,Karratha,AU,80.31,broken clouds,-20.7377,116.8463,ibis Styles Karratha
3,7,Port Alfred,ZA,61.20,scattered clouds,-33.5906,26.8910,The Halyards Hotel
4,11,Hilo,US,73.26,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

         Lat       Lng
0   -20.9373   55.2919
1   -23.1203 -134.9692
2   -20.7377  116.8463
3   -33.5906   26.8910
4    19.7297 -155.0900
..       ...       ...
247  11.2833  -15.8333
248  16.8901  -24.9804
249 -27.3592  -53.3944
250   4.5167   12.0333
251  -1.3959  120.7524

[252 rows x 2 columns]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["Hotel Name"] == "Kings Inn Paris TX") & 
                                 (vacation_df["City"] == "Lamar")]
vacation_end = vacation_df.loc[(vacation_df["Hotel Name"] == "Kings Inn Paris TX") & 
                               (vacation_df["City"] == "Lamar")]
vacation_stop1 = vacation_df.loc[(vacation_df["Hotel Name"] == "L'Auberge Casino Resort Lake Charles") & 
                                 (vacation_df["City"] == "Prien")]
vacation_stop2 = vacation_df.loc[(vacation_df["Hotel Name"] == "Quality Inn Greenwood Hwy 25") & 
                                 (vacation_df["City"] == "Greenwood")] 
vacation_stop3 = vacation_df.loc[(vacation_df["Hotel Name"] == "Six Acres Bed & Breakfast") & 
                                 (vacation_df["City"] == "Hamilton")] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
146,319,Lamar,US,82.36,broken clouds,33.6668,-95.5836,Kings Inn Paris TX

In [18]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
141,311,Prien,US,84.18,scattered clouds,30.1819,-93.2738,L'Auberge Casino Resort Lake Charles

In [19]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
244,550,Greenwood,US,73.15,clear sky,34.1668,-82.1165,Quality Inn Greenwood Hwy 25

In [20]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
56,133,Hamilton,US,61.65,few clouds,39.1834,-84.5333,Six Acres Bed & Breakfast

In [12]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
import numpy as np
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
start

(33.6668, -95.5836)

In [21]:
stop1

(30.1819, -93.2738)

In [22]:
stop2

(34.1668, -82.1165)

In [23]:
stop3

(39.1834, -84.5333)

In [14]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
fig = gmaps.figure()
start_to_end = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode="DRIVING")
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,319,Lamar,US,82.36,broken clouds,33.6668,-95.5836,Kings Inn Paris TX
1,311,Prien,US,84.18,scattered clouds,30.1819,-93.2738,L'Auberge Casino Resort Lake Charles
2,550,Greenwood,US,73.15,clear sky,34.1668,-82.1165,Quality Inn Greenwood Hwy 25
3,133,Hamilton,US,61.65,few clouds,39.1834,-84.5333,Six Acres Bed & Breakfast

In [16]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))